* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    background: url(/img/DVMT-6OXcAE2rZY.jpg.afab972f972bd7fbd4253bc7aa1cf27f.jpg);
    background-size: cover;
    min-height:  100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon_img {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 17%;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 66%;
    left: 13.5%;
}

.input_search {
    width: 100%;
    background: #e3e3e3;
    padding: 4%;
    outline: none;
    border-radius: 2%;
    border: solid 2px #333;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -2px 2px 0 #888, -4px 4px 0 rgb(36, 33, 33);
}

.buttons {
    position: absolute;
    bottom: 11%;
    left: 50.7%;
    width: 65%;
    transform: translate(-57%, -45%);
    display: flex;
    gap: 20px;
}

.button {
    width: 100%;
    padding: 4%;
    border: 1px solid #000;
    border-radius: 2%;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background: #2c2f31;
    box-shadow: -2px 2px 0 #222, -3px 3px 0 #000000;
}

.button:active {
    box-shadow: inset -4px 4px 3px #222;
    font-size: 0.9rem;
}

.pokedex{
    border-radius: 43px 5px 10px 37px;
    box-shadow: -7px 7px 12px rgb(40, 68, 30);
}